.goals-container h2 {
  text-align: center;
  color: #61dafb;
}

.goals {
  list-style: none;
  margin: 2rem;
  padding: 0%;
}

.goals li {
  background: #61dafb;
  margin: 0.5rem 0rem;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1.5rem;
}